/*<style>*/
body {
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center; /* 이미지를 가운데 정렬하기 위해 부모 요소의 텍스트 정렬을 설정 */
}
.image-container {
    display: flex; /* Flexbox를 사용하여 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
}

.image-toggle {
    cursor: pointer;
    width: 50%;
    height: auto; /* 비율 유지 */
    max-width: 500px; /* 최대 너비 제한 */

}
/* 첫 번째 이미지만 보이도록 설정 */
#poppuang-image_close {
    display: block;
}
/* 첫 번째 이미지만 보이도록 설정 */
#poppuang-image_open {
    display: none;
}
/*</style>*/
/* 글씨체 및 스타일링 */
.pop-puang {
    font-size: 50px; /* 글자 크기 */
    color: #fff; /* 글자 색상 */
    /*background-color: #000; !* 배경 색상 *!*/
    padding: 10px 20px; /* 내부 여백 */
    /*border: 2px solid #000; !* 테두리 스타일 *!*/
    border-radius: 5px; /* 테두리 둥글게 */
    margin-bottom: 10px; /* 아래 여백 */
}
.click-count {
    font-size: 30px; /* 글자 크기 */
    color: #fff; /* 글자 색상 */
    /*background-color: #000; !* 배경 색상 *!*/
    padding: 10px 20px; /* 내부 여백 */
    /*border: 2px solid #000; !* 테두리 스타일 *!*/
    border-radius: 5px; /* 테두리 둥글게 */
    margin-bottom: 20px; /* 아래 여백 */
}

.leaderboard {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

.leaderboard th, .leaderboard td {
    border: 1px solid #ddd;
    padding: 8px;
}

.leaderboard th {
    background-color: #f2f2f2;
    color: #333;
}

.leaderboard tr:nth-child(even) {
    background-color: #f9f9f9;
}

.leaderboard tr:hover {
    background-color: #f2f2f2;
}


/* 선택 상자 스타일링 */
.select-wrapper {
    display: inline-block;
    position: relative;
    width: 150px;
    margin-bottom: 10px;
}

.select-wrapper select {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    appearance: none;
}

.select-wrapper select::-ms-expand {
    display: none;
}

.select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}
/* 라벨 스타일링 */
.select-label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}